<ul class="posts">
    {% if posts %}
    {% for post in posts %}
    <li class="post">

        <div class="post-content">
            <div class="subject">
                <span>
                    <a class="label label-important" href="{{ url_for('.category', id=post.assortment.id)}}">
                        {{ post.assortment.name }}
                        <i class="label-arrow"></i>
                    </a>
                </span>
                <a href="{{ url_for('.post', id=post.id) }}">{{ post.subject }}</a>
            </div>
            <div class="post-body">
                {{ post.body | safe }}
            </div>
            <div class="post-summary">
            </div>

            <div class="auth-span">
                <span class="muted">
                    <i class="fa fa-user" title="用户"></i>
                    <a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>
                </span>
                <span class="muted">
                    <i class="fa fa-clock-o" title="时间"></i>
                    {{ moment(post.timestamp).fromNow() }} ({{ moment(post.timestamp).format('L') }})
                </span>
                <span class="muted">
                    <i class="fa fa-comments-o" title="评论"></i>
                    <a href="{{ url_for('.post', id=post.id) }}#comments">
                        {{ post.comments.count() }} 个评论
                    </a>
                </span>
                <span class="muted retract">
                    <i class="fa fa-chevron-up"></i>
                    <a>收起</a>
                </span>
            </div>

            <div class="post-footer">
                {% if current_user == post.author %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-primary">编辑</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-danger">编辑 [Admin]</span>
                </a>
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="label label-default">链接</span>
                </a>
                {% endif %}

            </div>
        </div>
    </li>
    {% endfor %}
    {% else %}
         <h1 style="text-align: center;">暂无内容~</h1>
    {% endif %}
</ul>
